<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="footer-logo">
                    BilliardNATDH
                </div>
                <p class="footer-text">
                    Có nhu cầu chuyển nhượng phần mềm liên hệ qua contact
                </p>
                <a href="https://www.facebook.com/enhdung.tu" class="footer-link">Our Team</a>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h3 class="footer-heading">Contact</h3>
                <ul class="list-unstyled contact-info">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Số 3 Phố Cầu Giấy, Phường Láng Thượng, Quận Đống Đa, Hà Nội</span>
                    </li>
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <span>Phone: ̣(+84) 0353703997</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <span>Email: vieanh.nguyen190105@gmail.com</span>
                    </li>
                    <li>
                        <i  class="fab fa-instagaram"></i>
                        <span>Instagram: linhtran0711</span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12">
                <h3 class="footer-heading">Follow us</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/halinh.tran.777701"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/realDonaldTrump"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/trinhvan205/BTL-LTW-QLBIDA/tree/sualan2"><i class="fab fa-google-plus-g"></i></a>
                    <a href="https://www.instagram.com/linhtran0711"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.pinterest.com/pin/460070918178748558"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>