@model BTL_LTW_QLBIDA.Models.Ban

@* Đây CHỈ LÀ FORM, không có HTML, HEAD, BODY *@
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="formThemBan">

            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Idban" class="form-label">Tên bàn</label>
                <input asp-for="Idban" class="form-control" />
                <span asp-validation-for="Idban" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Idkhu" class="form-label">Khu vực</label>
                <select asp-for="Idkhu" class="form-select" asp-items="@(ViewData["KhuVucList"] as SelectList)">
                    <option value="">-- Lựa chọn --</option>
                </select>
                <span asp-validation-for="Idkhu" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Giatien" class="form-label">Giá tiền</label>
                <input asp-for="Giatien" class="form-control" type="number" />
                <span asp-validation-for="Giatien" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>